# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# dotenv
*.env

# Logs
*.log

# Cache
.cache/
*.pytest_cache/

# Data files (optional, keep if you want small sample data)
data/*.csv
